<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Innova Libres Torneo FIFA 2025</title>
  <link rel="stylesheet" href="/static/estilos.css" />
</head>
<body>
  <div class="inicio">
    <img src="/static/img/jugando.png" alt="jugando" class="fondo-inicio" />
    <div class="overlay">
      <h1>Innova Libres Torneo FIFA 2025</h1>
      <button id="iniciar">Iniciar</button>
    </div>
  </div>
  <script>
    document.getElementById("iniciar").onclick = () => (window.location = "/clasificacion");
  </script>
</body>
</html>